<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <activated type="NETRem.Manager, NETRem" />
      </service>
      <channels>
        <channel ref="tcp" port="3131" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>