<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="Client">
      <client url="tcp://localhost:3131">
        <activated type="NETRem.Manager, NETRem" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
